<div class="container">
  <header class="header">
    <img src="../assets//img/logo.png" alt="" class="logo">
    <form action="#" class="search">
      <input type="text" class="search_input" placeholder="Search Sneakers">
      <button class="search_button">
        <svg class="search_icon">
          <use xlink:href="../assets/img/sprite.svg#icon-magnifying-glass"></use>
        </svg>
      </button>
    </form>
    <nav class="user-nav">
      <div class="user-nav_icon-box">
        <svg class="search_icon">
          <use xlink:href="../assets/img/sprite.svg#icon-bookmark"></use>
        </svg>
        <span class="user-nav_notification">7</span>
      </div>
      <div class="user-nav_icon-box">
        <svg class="search_icon">
          <use xlink:href="../assets/img/sprite.svg#icon-chat"></use>
        </svg>
        <span class="user-nav_notification">21</span>
      </div>
      <div class="user-nav_user">
        <img src="../assets/img/user-1.jpg" alt="User Photo" class="user-nav_user-photo">
        <span class="user-nav_user-name">ZLUD</span>
      </div>
    </nav>
  </header>
  <div class="content">
    <nav class="sidebar">
      Sidebar Navigation
    </nav>
    <main class="sneaker-view">
      Sneaker-View
    </main>
  </div>
</div>
